<div class="navbar-light bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar-expand-lg">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a routerLink="/list" routerLinkActive="active" class="nav-item nav-link">Liste</a>
              <a routerLink="/create" routerLinkActive="active" class="nav-item nav-link">Creer une tâche</a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
