<div class="container" style="margin-top: 50px">
	<div class="row">
		<div class="col-6">
			<app-create></app-create>
		</div>
		<div class="col-6">
			<h1>Liste des tâches</h1>
			<input type="text" placeholder="Rechercher une tâche" class="form-control" [(ngModel)]="keywords" (input)='filter()'>

			<h2 *ngIf="keywords != ''">
				Résultats pour la recherche : {{ keywords }}
			</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nom</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let task of tasks">
						<td>{{ task.id }}</td>
						<td>{{ task.getName() }}</td>
						<td>{{ task.getStatus() }}</td>
						<td>
							<div class="btn-group btn-group-toggle" data-toggle="buttons">
								<button class="btn btn-success" (click)="change(task)">Changer le status</button>
								<button class="btn btn-warning" (click)="edit(task)">Editer la tâche</button>
								<button class="btn btn-danger" (click)="remove(task)">Supprimer la tâche</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>
